$fontStack: Helvetica, sans-serif;
$primaryColor: rgb(255, 255, 255);
$secondaryColor: rgb(136, 153, 166);
$bgcolorOuter: rgb(21, 32, 43);
$bgcolorInner: rgb(32, 43, 54);
$bgcolorInnerFocused: rgb(54, 43, 32);

body {
    background-color: $bgcolorOuter;
    font: 100% $fontStack;
    color: $primaryColor;
}

a {
    text-decoration: none;
}

.appContainer {
    display: flex;
}

.adminControlsContainer {
    display: flex;
}

.uiColumn {
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    margin-right: 5px;
    min-width: 400px;
}

.uiElement {
    background-color: $bgcolorInner;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    min-height: 30px;
}

.userCard {
    background-color: $bgcolorInner;
    display: flex;
    flex-direction: row;
    margin: 2px;

    a:hover {
        background-color: $bgcolorInnerFocused;
    }

    .icon {
        display: flex;
        width: 70px;
        align-items: center;
        justify-content: center;
        img {
            width: 50px;
            height: 50px;
        }
    }

    .info {
        .username {
            color: $secondaryColor;
        }

        .email {
            color: $secondaryColor;
        }

        .displayName {
            color: $primaryColor;
            font-weight: bold;
        }
    }
}
