NODE_ENV=development
ELOVATE_SERVE_STATIC=true
ELOVATE_SESSION_SECRET=andwhatasecretitis
ELOVATE_TARGET_DIR="dist"
ELOVATE_STATIC_DIR="dist/public"
ELOVATE_CLEAR_DB=false
ELOVATE_POPULATE_TEST_DATA=true
