doctype html
html
    head
        title elovate
        link(rel="stylesheet", type="text/css" href="/css/base.css")
    body
        .appContainer
            .uiColumn
                div.uiElement#userSearchContainer user search
            .uiColumn
                div.uiElement#userInfoContainer user info
                div.uiElement#matchListContainer match list
        script(src="/js/bundle.js")
