doctype html
html
    head
        title elovate
        link(rel="stylesheet", type="text/css" href="/css/style.css")
        script(src="/js/client.js")
    body
        #appBar
            #logo
                a.logo(href="/")
                    img(src="/img/elovate.png" alt="elovate home")
            #appBarNavContainer
            #loggedInUserWidgetContainer
        #contentContainer
            block content
        #siteFooter page footer
