doctype html
html
    head
        block title
        link(rel="stylesheet", type="text/css" href="/css/style.css")
    body
        .pageHeader
            .logo
                img(src="/img/elovate.png")
            .nav
                a(href="/") Report a match
                a(href="/")
                block nav
        .contentContainer
            block content
        .pageFooter
            page footer
        script(src="/js/client.js")
