doctype html
html
    head
        title elovate
        link(rel="stylesheet", type="text/css" href="/css/base.css")
        link(rel="stylesheet", type="text/css", href="/assets/blueprint-css/blueprint.css")
        link(rel="stylesheet", type="text/css", href="/assets/blueprint-icons-css/blueprint-icons.css")
    body
        ul(id="sidebar", class="sidenav")
            block nav
        block content
        //script(type="text/javascript", src="/assets/js/materialize.js")
        script(src="/js/bundle.js")
