doctype html
html
    head
        title elovate
        //link(rel="stylesheet", type="text/css", href="/css/materialize/materialize.css", media="screen,projection")
        link(rel="stylesheet", type="text/css" href="/css/base.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")
        link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body
        ul(id="sidebar", class="sidenav")
            block nav
        block content
        //script(type="text/javascript", src="/assets/js/materialize.js")
        script(src="/js/bundle.js")
