doctype html
html
    head
        block title
        link(rel="stylesheet", type="text/css" href="/css/style.css")
    body
        .pageHeader
            .logo
                a(href="/")
                    img(src="/img/elovate.png" alt="elovate home")
            nav
                block nav
                    a(href="/") Report a match
                    a(href="/") Other nav link
            if user
                .loggedInUser
                    user.username
        .contentContainer
            block content
        .pageFooter
            page footer
        script(src="/js/client.js")
