doctype html
html
    head
        title elovate
        link(rel="stylesheet", type="text/css" href="/css/style.css")
        //link(rel="stylesheet", type="text/css", href="/assets/blueprint-css/blueprint.css")
        //link(rel="stylesheet", type="text/css", href="/assets/blueprint-icons-css/blueprint-icons.css")
    body
        div(id="mainNav", class="nav")
            block nav
        block content
        script(src="/js/bundle.js")
