doctype html
html
    head
        title elovate
        link(rel="stylesheet", type="text/css" href="/css/style.css")
    body
        div(id="mainNav", class="nav")
            block nav
        block content
        script(src="/js/require.js" data-main="/js/client.js")
