doctype html
html
    head
        block title
        link(rel="stylesheet", type="text/css" href="/css/style.css")
        script(src="/js/client.js")
    body
        #siteHeader
            #logo
                a.logo(href="/")
                    img(src="/img/elovate.png" alt="elovate home")
            #headerNavContainer
            #loggedInUserWidgetContainer
        #contentContainer
            block content
        #siteFooter page footer
