extends base.pug

block nav
    li(class="adminContainer col s2")
        div#adminControlsContainer admin controls

block content
    .container
        .row
            div(class="col s5")
                div.uiElement#userSearchContainer user search
            div(class="col s5")
                div.uiElement#userInfoContainer user info
                div.uiElement#matchListContainer match list

