extends base.pug

block nav
    a(class="navBreadcrumbItem", href="/groups")
        Groups
    p(class="navBreadCrumbItem current")= group.name

block content
    #groupDashboardLeft
        div(id="groupCard")
            p
                GROUP ICON
        ul(id="groupDashboardNav")
            li
                a Dashboard
            li
                a Manage users
            li
                a Add matches
    #groupDashboardMain
