extends base.pug

block nav
    p user profile

block content
    if !error
        div.userProfileContainer
            div.usernameContainer= user.username
            div.avatarContainer
                avatar placeholder
            div.groupsSectionContainer
                groups section placeholder
            div.pinnedItemsContainer
                pinned items placeholder
            div.matchHistoryContainer
                match history container
    else
        p= error
