@import "/assets/css/normalize.css";
@import "/assets/css/blueprint.css";
//@import "/assets/css/blueprint-icons.css";

@import "@blueprintjs/core/lib/less/variables";

@import "./userCard";

@font-stack: Helvetica, sans-serif;
@primary-color: rgb(10, 10, 10);
@primary-color-light1: rgb(80, 80, 80);
@bg-color-outer: rgb(240, 240, 240);
@bg-color-inner: rgb(255, 255, 255);
@bg-color-inner-focused: rgb(220, 220, 255);

body {
    background-color: @bg-color-outer;
    font: 90% @font-stack;
    color: @primary-color;
}

div {
    color: @primary-color;
}

a {
    text-decoration: none;
}

.appContainer {
    display: flex;
}

.adminContainer {
    display: flex;
    background-color: @bg-color-inner;
}

.uiColumn {
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    margin-right: 5px;
    min-width: 400px;
}

.uiElement {
    background-color: @bg-color-inner;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    min-height: 30px;
}

input {
    color: @primary-color;
}

