@import "/css/normalize.css";

@import "./variables";
@import "./userCard";

body {
    background-color: @bgColorOuter;
    font: 90% @fontStack;
    color: @textColor;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

div {
    color: @textColor;
}

a {
    text-decoration: none;
}

.appContainer {
    display: flex;
}

.adminContainer {
    display: flex;
    background-color: @bgColorInner;
}

.uiColumn {
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    margin-right: 5px;
    min-width: 400px;
}

.uiElement {
    background-color: @bgColorInner;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    min-height: 30px;
}

input {
    color: @textColor;
}

